
/* Inputs Block */
.ui-blocks { display: flex; flex-wrap: wrap; gap: .5rem; align-items: stretch; margin: 4px; }
.ui-block { max-width: 500px; }
.ui-block-main { flex-grow: 1; }
.ui-block-md { min-width: 200px; max-width: 320px; flex-grow: 1; }
.ui-block-lg { min-width: 200px; max-width: 400px; flex-grow: 1; }
.ui-block-xl { min-width: 300px; max-width: 600px; flex-grow: 1; }
.ui-block-box { min-width: 250px; padding: 6px; border: 1px solid black; }
.ui-block-row { width: 100%; }
.ui-block-btn { margin-top: 14px; }
.ui-block-info { margin-top: 8px; }
.ui-block-break { flex-basis: 100%; }
.ui-block-img {
    width: 200px; height: 200px;
    border: 1px solid #ccc; border-radius: 8px;
    box-shadow: 2px 3px 3px #ccc; cursor: pointer;
    background-repeat: no-repeat; background-position: center 0%;
}
/* Inputs Block */

/* Labels */
.label {
    padding: 0 3px;
    font-weight: 700; font-size: 0.875rem/* 14px */; line-height: 1.25rem/* 20px */;
    color: rgb(17 24 39)/* text-gray-900 */;
}
.label.inline { margin-top: 8px; width: 20%; }
.label.required:after { color: #e32; content: " *"; }
/* Labels */

/* Inputs */
.ui-input {
    width: 100%; height: 36px; padding: .4em;
    transition: border-color 0.3s, box-shadow 0.3s;
    border-radius: 3px; border: 2px solid rgb(209 213 219)/* gray-300 */;
    outline: 2px solid transparent; outline-offset: 2px;
    font-size: 0.875rem !important; line-height: 1.25rem/* 20px */;
    color: rgb(17 24 39)/* text-gray-900 */;
    background-color: white; cursor: auto;
}
.ui-input.inline {
    width: auto; height: auto;
    margin: 0 4px; padding: .2em;
}
.ui-input:focus { border-color: rgb(147 197 253)/* blue-300 */; }

.ui-check { margin: 0 1px; }
.ui-toggle {
    appearance: none;
    position: relative;
    display: inline-block;
    background: lightgrey;
    height: 1.65rem;
    width: 2.75rem;
    vertical-align: middle;
    border-radius: 2rem;
    box-shadow: 0px 1px 3px #0003 inset;
    transition: 0.25s linear background;
    cursor: pointer;
}
.ui-toggle::before {
    content: "";
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: #fff;
    border-radius: 1.2rem;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    box-shadow: 0px 1px 3px #0003;
    transition: 0.25s linear transform;
    transform: translateX(0rem);
}
.ui-toggle:checked { background: green; }
.ui-toggle:checked::before { transform: translateX(1rem); }

.ui-bool, .ui-xs { width: 50px; }
.ui-time-sec, .ui-sm { width: 84px; }
.ui-date, .ui-md { width: 140px; }

/*input[type="date"]::-webkit-calendar-picker-indicator{ margin: 0px; }*/ /*remove datepiker icon*/
input::-webkit-calendar-picker-indicator { filter: invert(0); } /* black color */
input[type="time"]::-webkit-calendar-picker-indicator { display: none; } /*remove icon from timer*/
input::-webkit-calendar-picker-indicator:hover { filter: invert(.5); cursor: pointer; }

.ui-integer, .ui-float { width: 130px; text-align: right; }
.ui-ta { min-height: 36px; height: 76px/*3 rows aprox.*/; max-height: 100px; resize: vertical; form-sizing: content; }
.ui-ta.rows-2 { height: 54px/*2 rows aprox.*/; }
.disabled, .readonly { opacity: 0.5; pointer-events: none; text-decoration: none; }
/* Inputs */

/* Inputs icon styles */
.ui-input-icon {
    position: absolute; height: 40px; /* same height than ui-input */
    color: rgb(107 114 128); opacity: .8; z-index: 1;
}

.ui-input-icon.left { top: 31px; left: 0.5rem; }
.ui-input-icon.left.inline { top: 11px; }
.ui-input-icon.left + input { padding-left: 30px; }

.ui-input-icon.right { top: 31px; right: 0.5rem; }
.ui-input-icon.right.inline { top: 11px; }
.ui-input-icon.right + input { padding-right: 30px; }
/* Inputs icon styles */

/* Inputs error styles */
.ui-error { border: 2px solid #dc3545 !important; }
.ui-error:focus { border: 2px solid tomato !important; --tw-ring-opacity: 0 !important; }
.ui-errtip { margin-top: 0; font-size: 0.75rem/* 12px */; line-height: 1rem/* 16px */; font-style: italic; color: rgb(239 68 68)/* red-500 */; }
/* Inputs error styles */

/* Autocomplete */
.autocomplete { position: relative; }
.autocomplete label { display: block; }
.autocomplete .ui-autocomplete { top: auto; left: auto; }
.autocomplete .results {
	width: 100%; /* same width than ui-input */
	position: absolute; margin: 0; padding: 0; z-index: 3;
	font-weight: normal !important; color: black; background-color: #f7f7f7;
}
.autocomplete .results.active { border: solid 1px silver; animation: none; }
.autocomplete li { padding: 3px; list-style: none; cursor: pointer; }
.autocomplete li:hover, .autocomplete li.active {
    color: white; background-color: #2196f3; animation: none;
}

input[type="search"]::-webkit-search-cancel-button:hover { cursor: pointer; }
/* Autocomplete */

/* Multiselect */
.multiselect { position: relative; }
.multiselect > .label { cursor: default; }
.multiselect > button { display: flex; align-items: center; }
.multiselect > button span.checked {
    margin: 0 2px; padding: 0 3px;
    border: solid 1px gold; border-radius: 5px;
    color: black; background-color: yellow;
}
.multiselect > button [data-index] { cursor: pointer; }

.multiselect > .options {
    position: absolute; top: calc(100%); display: none; margin: 0; padding: 0;
    color: black; border: solid 1px gray; background-color: white;
    text-wrap: nowrap; list-style: none; cursor: pointer;
}
.options.active { display: block; min-width: 100%; z-index: 3; }
.options li:hover { color: white; background-color: #2196f3; animation: none; }
.multiselect .icon { margin: 0 6px; }
/* Multiselect */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .label.inline { width: 100%; }
	.ui-block-md, .ui-block-lg, .ui-block-xl { min-width: 100%; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .label.inline { width: 100%; }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .label.inline { width: 100%; }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
