
/* Tabs classes */
.tab-content { display: none; width: 100%; /*min-height: 70vh; max-height: 90vh;*/ padding: 2px; }
.tab-content.active { display: block; animation: fadeIn .8s forwards; }
/* Tabs classes */

/* Progressbar */
/* Progressbar */

/* Accordion */
details {
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.4rem;
}
summary {
  cursor: pointer;
}

details[open] { background-color: aquamarine; }
details[open] > summary { margin-bottom: 0.5rem; }

/* summary icon left */
summary::marker {
  font-size: 1.5em;
  content: "📬";
}
details[open] summary::marker {
  font-size: 1.5em;
  content: "📭";
}

details.icon-right summary::marker { content: ""; }
details.icon-right summary::after { content: " ►"; }
details.icon-right[open] summary:after { content: " ▼"; }
/* Accordion */

/* Cards */
.cards { display: flex; gap: 1rem; flex-wrap: wrap; }
.card-xeco {
  flex-basis: fit-content; padding: 15px; margin: 10px 0;
  background: #f7f7f7; border: 1px solid #999; border-left: 6px solid #1976D2; border-radius: 3px;
}
:is(.dark .card-xeco) {
  background: rgb(31 41 55); border-left: 6px solid white;
}
.card-xeco h2, .card-xeco h3 {
  display: flex; align-items: center; gap: 4px; 
  margin: .4em .2em; padding-bottom: 4px;
  color: #1976D2; border-bottom: 1px solid #1976D2;
}
:is(.dark .card-xeco h2, .card-xeco h3) { color: rgb(96 165 250); }

.card-filter {
  padding: 8px;
  background-color: #F4F5F5;
  border-bottom: 1px solid #527da7;
  border-top: 1px solid #527da7;
}
:is(.dark .card-filter) {
  background-color: #888;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
/* Cards */

/* Dialog Box / Modals */
.dialog-modal {
  width: 70vw; top: -40vh; padding: 2rem; overflow: visible;
  border: 1px solid #999; border-radius: .6rem;
  background-color: white;
}
.dialog-modal[open] {
  animation: slideInTop 1s ease normal;
}
.dialog-header {
  display: flex; align-items: flex-start; justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.dialog-body {
  padding: 1rem;
}
.dialog-footer {
  display: flex; align-items: center; justify-content: flex-end;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}
/* Dialog Box / Modals */

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
  .dialog-modal { width: 98vw; top: 0; padding: 1rem; }
  .dialog-body { padding: 1rem 0; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
