
/* Tabs classes */
.tab-content { display: none; width: 100%; /*min-height: 70vh; max-height: 90vh;*/ padding: 2px; }
.tab-content.active { display: block; animation: fadeIn .8s forwards; }
/* Tabs classes */

/* Progressbar */
/* Progressbar */

/* Accordion */
details {
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.4rem;
}
summary {
  cursor: pointer;
}

details[open] { background-color: aquamarine; }
details[open] > summary { margin-bottom: 0.5rem; }

/* summary icon left */
summary::marker {
  font-size: 1.5em;
  content: "📬";
}
details[open] summary::marker {
  font-size: 1.5em;
  content: "📭";
}

details.icon-right summary::marker { content: ""; }
details.icon-right summary::after { content: " ►"; }
details.icon-right[open] summary:after { content: " ▼"; }
/* Accordion */

/* Cards */
.cards { display: flex; gap: 1rem; flex-wrap: wrap; }
.card-xeco {
  flex-basis: fit-content; padding: 15px; margin: 10px 0;
  background: #f7f7f7; border: 1px solid #999; border-left: 6px solid #1976D2; border-radius: 3px;
}
.card-xeco h2, .card-xeco h3 {
  display: flex; align-items: center; gap: 4px; 
  margin: .4em .2em; padding-bottom: 4px;
  color: #1976D2; border-bottom: 1px solid #1976D2;
}

.card-filter {
  padding: 8px;
  background-color: #F4F5F5;
  border-bottom: 1px solid #527da7;
  border-top: 1px solid #527da7;
}
/* Cards */

/* Modal / Dialog Box */
.modal {
  display: none;
  position: fixed; 
  padding-top: 10%;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
}
.modal.active {
  display: block;
}
.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 75%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}
.modal.active > .modal-content {
  animation: slideInTop .8s forwards;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.modal-body {
  padding: 1rem;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ccc;
}
/* Modal / Dialog Box */
